@import 'tailwindcss';

@layer base {
  body {
    font-style: normal;
  }
}

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  --font-mono: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

:root {
  --container-width: 390px;
  --content-width: 360px;
  --margin: 15px;
  --gutter: 12px;
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  height: 100dvh;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

/* 컬럼 2개 */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter);
}

/* 컬럼 3개 */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter);
}
