@import 'tailwindcss';

@layer base {
  body {
    font-style: normal;
  }
}

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  --font-mono: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

@layer utilities {
  /* Headings */
  .h1-eb {
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1.92px;
  }

  .h2-eb {
    font-size: 36px;
    font-weight: 800;
    line-height: 120%; /* 43.2px */
    letter-spacing: -1.44px;
  }

  .h3-eb {
    font-size: 24px;
    font-weight: 800;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.96px;
  }

  .h3-b {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.96px;
  }

  .h4-b {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.8px;
  }

  .h4-sb {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%; /* 24px */
    letter-spacing: -0.8px;
  }

  /* Titles */
  .title1-b {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.04em;
  }

  .title1-sb {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.72px;
  }

  .title2-b {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.64px;
  }

  .title2-sb {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.64px;
  }

  .title3-sb {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.56px;
  }

  .title3-m {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.56px;
  }

  /* Body */
  .body1-sb {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
  }

  .body1-m {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
  }

  .body2-r {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.28px;
  }

  .body2-m {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.28px;
  }

  .body3-m {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.24px;
  }

  .body3-r {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.24px;
  }

  /* Caption */
  .caption-m {
    font-size: 10px;
    font-weight: 500;
    line-height: 150%; /* 15px */
    letter-spacing: -0.2px;
  }

  .caption-r {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%; /* 15px */
    letter-spacing: -0.2px;
  }
}

:root {
  --container-width: 390px;
  --content-width: 360px;
  --margin: 15px;
  --gutter: 12px;
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  height: 100dvh;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

/* 컬럼 2개 */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter);
}

/* 컬럼 3개 */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter);
}
